
.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.header {
    background: #e0dd0b;
    padding: 10px;
    text-align: center;
}
.wrapper {
    display: flex;
    padding: 10px;
    background-color: rgb(16, 102, 16);
}
.main {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.aside {
    display: flex;
    flex: 1;
    background: #0fa10a;
    padding: 10px;
}
.box {
    width: 200px;
    height: 200px;
    background-color: rgb(16, 102, 16);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    background-color: #b96b11;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #075707;
    padding: 10px;
    width: 100%;
}
